<!DOCTYPE html>

<html ng-app>
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
	<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
	<title>SHIT'S GETTING REAL - A MANIFESTO</title>
</head>
<body>
	{% raw %}
	<div id="body" ng-controller="MusicResultsController">
		<div id="boombox">
			<img src="/static/images/boombox.png">
		</div>
		<div id="main_title">
			<img src="/static/images/track_title.png">
		</div>
		<div id="results">
			<button ng-click="startRecording(this);" ng-disabled="isRecording">GET THIS SHIT</button>
			<h1>{{title}}</h1>
				  <ul>
				    <li ng-repeat="item in john">{{item.title}}
				  </ul>
		</div>
		<img src="/static/images/logo.png">
	</div>
	{% endraw %}
	<script>

	var audio_context;
	var recorder;

	//passes stream input to recorder thingy?
	function startUserMedia(stream) {
		var input = audio_context.createMediaStreamSource(stream);
		// input.connect(audio_context.destination);
		recorder = new Recorder(input);
	}

	var MusicResultsController = function($scope) {
		$scope.isRecording = false;

		$scope.startRecording = function(button) {
			recorder && recorder.record();
			setTimeout(function(){
				$scope.stopRecording(button);
				}, 10000);
			$scope.isRecording = true;

		}

		$scope.stopRecording = function(button) {
			recorder && recorder.stop();
			returnResults();
			$scope.isRecording = false;
			recorder.clear();
		}


		function returnResults() {
			recorder && recorder.exportWAV(function(blob) {
				var data = new FormData();
				data.append('user_audio', blob);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/music_recognition', true);
				xhr.send(data);
				xhr.onreadystatechange = function(){
					if (xhr.readyState == 4 && xhr.status == 200){
						$scope.title = 'Results';
						$scope.john = JSON.parse(xhr.responseText);		
						$scope.$apply() 				
						}
				}

			});

		}
	}	

	window.onload = function init() {
		try {
			//here is where we figure out if these things can be used in a given browser.
			window.AudioContext = window.AudioContext || window.webkitAudioContext;
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
			window.URL = window.URL || window.webkitURL;

			audio_context = new AudioContext;
		}
		catch (e) {
			alert('SON, THIS SHIT WILL NOT FLY');
		}
		//finally run .getUserMedia calling constraint audio, successCallback //startUserMedia, errorCallback noooooooo
		navigator.getUserMedia({audio: true}, startUserMedia, function(e) {console.log('noooooooooooooo' + e);
	});

	};
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="static/js/vendor/recorder.js"></script>
</body>
</html>

